@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --laranja-claro: #FF862A;
    --rosa-brega: #FF4F81;
    --bege-claro: #FDF2F2;
    --dourado-brega: #FFD700;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #fffdfc;
}

header {
    background-color: #ffffff;
}

section {
    padding-bottom: 5rem;
}

.nav-link {
    color: var(--rosa-brega);
    font-weight: 600;
}

.inicio-fundo {
    background-image: url('img/leno-fundo.jpg'); /* nova imagem de fundo */
    background-size: cover;
    background-position: center;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
    position: relative;
}

.img-inicio {
    position: absolute;
    right: 0;
    top: 18rem;
    width: 45rem;
    height: auto;
}

.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    z-index: 2;
}

.botao-inicio {
    background-color: var(--rosa-brega);
    color: white;
    border-radius: 30px;
    border: none;
    width: 14em;
    height: 3em;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.botao-inicio:hover {
    background-color: var(--dourado-brega);
    color: black;
}

.display-4 {
    text-shadow: -5px 5px var(--rosa-brega);
    color: white;
}

#lenobrega {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('img/rosa-brega.png') top right no-repeat,
                url('img/rosa-esquerda.png') bottom left no-repeat;
    background-size: 180px 180px;
}

#lenobrega .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

h2, h3 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    color: var(--rosa-brega);
}

#galeria {
    background-color: var(--bege-claro);
}

.fundo-galeria {
    background: url('img/leno-flor-bottom.png') bottom right no-repeat;
    background-size: 180px 180px;
}

#contato {
    background-image: url('img/leno-fundo.jpg');
    background-size: cover;
    padding: 4rem 0;
}

.formulario {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.formulario button {
    background-color: var(--rosa-brega);
    border: none;
    font-weight: bold;
    color: white;
}

.form-control {
    background-color: #f7f2f2;
}

/* Footer */
footer {
    background-color: #fff2f7;
    color: #ff2d6f;
}